@using Tarefas.Web.Models
@model List<TarefaViewModel>

<table class="table"> 
     <thead class ="thead-light">
      <tr>        
        <th scope="col">Codigo</th>
        <th scope="col">Titulo</th> 
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>        
     </tr>
    </thead>

   @foreach (var item in Model)
   {
    <thead>
        <tr>
            <th scope="col">@item.Id</th>
            <th scope="col">@item.Titulo</th>
            <th scope="col">@item.Descricao</th>
            <th scope="col">@item.Status</th>

            <th scope="col">
                <a class="btn btn-info btn-sm" 
                asp-area="" 
                asp-controller="Tarefa" 
                asp-action="Detalhar"
                asp-route-id="@item.Id">Detalhar</a>
            </th>
            <th scope="col">
                <a class="btn btn-secondary btn-sm" 
                asp-area="" 
                asp-controller="Tarefa" 
                asp-action="Update"
                asp-route-id="@item.Id">Update</a>
            </th>
            <th scope="col">
                <a class="btn btn-danger btn-sm" 
                asp-area="" 
                asp-controller="Tarefa" 
                asp-action="Deletar"
                asp-route-id="@item.Id">Deletar</a>
            </th>
        </tr>  
    </thead> 
   }

</table>

